@font-face {
  src: url("CursedTimerUlil-Aznm.ttf");
  font-family: Cursed Timer ULiL;
}

body {
  margin: 0;
  font-family:
    Cursed Timer ULiL,
    sans-serif;
  color: #eeeeee;
  text-align: center;

  display: flex;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #1b244a;
  border-radius: 10px;

  width: 95%;
  max-width: 600px;
  padding: 30px;

  margin: auto;
}

.home-guest-container {
  display: flex;
}

.home-guest-container .home-container {
  width: 30.5%;
  margin: auto;
}

.home-guest-container .guest-container {
  width: 30.5%;
  margin: auto;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;

  line-height: 35.89px;
  margin: 0;
  margin-bottom: 21px;
}
@media (min-width: 599px) {
  .heading {
    font-size: 40px;
  }
}

.winner {
  border-inline: 2px solid greenyellow;
  padding-inline: 2px;
}

.point {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  background: #080001;
  border-radius: 5px;

  font-size: 90px;
  line-height: 126.67px;

  color: #f94f6d;
  padding-top: 4px;
}

.btn-panel {
  margin-top: 26px;
  margin-bottom: 10px;
  width: 100%;
}

.btn {
  width: 30%;
  min-width: 36px;
  max-width: 45px;
  height: 45px;
  font-family: inherit;

  border: 2px solid #9aabd8;
  border-radius: 5px;
  background: transparent;

  color: #9aabd8;
  line-height: 27.81px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 599px) {
  .btn {
    font-size: 18px;
    font-weight: 400;
  }
}

.btn:hover {
  border: 2px solid #f94f6d;
  color: #f94f6d;
  box-shadow: 0px 0px 10px #f94f6d;
  scale: 1.05;
}

.btn-new-game {
  width: 155px;
  margin: 0 auto;
  font-family: inherit;
  padding: 10px 0;

  border-radius: 6px;
  border: 2px solid greenyellow;
  font-size: 18px;

  background: transparent;
  color: #f94f6d;
  box-shadow: 0px 0px 10px greenyellow;
}

.btn-new-game:hover {
  color: greenyellow;
  border-color: #f94f6d;
  box-shadow: 0px 0px 15px #f94f6d;
}
